body, html {
    font-size: 10px;
    box-sizing: border-box;
    background-color: rgb(231, 210, 202);
}

.heading {
    font-size: 5rem;
    text-align: center;
    margin: 15px;
    font-family: 'Croissant One', cursive;
}

.card {
    height: 50vh;
    width: 21%;
    background-color: rgba(150, 99, 130, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 10px 10px rgb(56, 15, 17);
    transition: all 0.5s;
    filter: grayscale(1);
    color: rgb(167, 62, 67);
}

.card:hover {
    translate: 0 -20px;
    filter: grayscale(0)
}
.card-img {
    transition: 1s;
    max-width: 80%;
    max-height: 300px
}

.card-img:hover, .card-title:hover {
scale: 1.1;
text-shadow: 2px 2px rgb(255, 255, 255);
}

.card-title {
    font-size: 3rem;
    margin: 0,5rem 0;
    text-shadow: 1px 1px rgb(121, 51, 51);
}


.card-desc {
    font-size: 1.6rem;
    text-align: center;
}

.container {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;

}